{% extends 'base.html.twig' %}


{% block contenu %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomLong</th>
                <th>NomCourt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formation in formations %}
            <tr>
                <td>{{ formation.id }}</td>
                <td>{{ formation.nomLong }}</td>
                <td>{{ formation.nomCourt }}</td>
                <td>
                    <a class="btn btn-outline-primary" href="{{ path('formation_show', {'id': formation.id}) }}">Consulter</a>
                    <a class="btn btn-outline-primary" href="{{ path('formation_edit', {'id': formation.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-primary" href="{{ path('formation_new') }}">Créer une nouvelle formation</a>
    <br>
{% endblock %}
