{% extends 'base.html.twig' %}

{% block  nomDeLaPage %} 
    <h1>Liste des formations</h1>
{% endblock %}
        
{% block  tableauDeLaPage %} 
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ formation.id }}</td>
            </tr>
            <tr>
                <th>NomLong</th>
                <td>{{ formation.nomLong }}</td>
            </tr>
            <tr>
                <th>NomCourt</th>
                <td>{{ formation.nomCourt }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('formation_index') }}">back to list</a>

    <a href="{{ path('formation_edit', {'id': formation.id}) }}">edit</a>

    {{ include('formation/_delete_form.html.twig') }}
{% endblock %}
