{% extends 'base.html.twig' %}

{% block contenu %}
	{{ form_start(formulaireAjoutModifEntreprise,{ 'attr':{ 'novalidate': 'novalidate' }}) }}


	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h3 class="text-center">
					{% if choix=='creation'%}
						Formulaire de saisie d'une entreprise
					{% else %}
						Formulaire de modification d'une entreprise
					{% endif %} 
				</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="row">
						{{ form_row( formulaireAjoutModifEntreprise.nom) }}
				</div>
				<div class="row">
						{{ form_row( formulaireAjoutModifEntreprise.adresse) }}
				</div>
				<div class="row">
						{{ form_row( formulaireAjoutModifEntreprise.activite) }}
				</div>
				<div class="row">
						{{ form_row( formulaireAjoutModifEntreprise.URLsite) }}
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-12">
				<button type="submit" class="btn btn-outline-primary">Enregistrer</button>
			</div>
		</div>
	</div>
	<br>
	{{ form_end(formulaireAjoutModifEntreprise) }}
{% endblock %}