{% extends 'base.html.twig' %}

{% block contenu %}

 {{ form_start(formulaireAjoutEntreprise,{ 'attr':{ 'novalidate': 'novalidate' }}) }}


<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-center">
				Formulaire de saisie d'une entreprise
			</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="row">
                    {{ form_label( formulaireAjoutEntreprise.nom) }}
                    {{ form_errors( formulaireAjoutEntreprise.nom) }}
                    {{ form_widget( formulaireAjoutEntreprise.nom) }}
			</div>
			<div class="row">
                    {{ form_label( formulaireAjoutEntreprise.adresse) }}
                    {{ form_errors( formulaireAjoutEntreprise.adresse) }}
                    {{ form_widget( formulaireAjoutEntreprise.adresse) }}
			</div>
			<div class="row">
                    {{ form_label( formulaireAjoutEntreprise.activite) }}
                    {{ form_errors( formulaireAjoutEntreprise.activite) }}
                    {{ form_widget( formulaireAjoutEntreprise.activite) }}
			</div>
			<div class="row">
                    {{ form_label( formulaireAjoutEntreprise.URLsite) }}
                    {{ form_errors( formulaireAjoutEntreprise.URLsite) }}
                    {{ form_widget( formulaireAjoutEntreprise.URLsite) }}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
            <button type="submit" class="btn btn-dark">Enregistrer</button>
		</div>
	</div>
</div>

{{ form_end(formulaireAjoutEntreprise) }}

{% endblock %}