{% extends 'base.html.twig' %}

{% block contenu %}

  
      <center><h1> Stage <u>n°{{ stage.id }}</u> </h1></center>
      
      <h2>Intitulé</h2>
      <p>{{ stage.titre }}</p>
    

    
      <h2>Entreprise</h2>
        <a href="{{path('pro_stage_voir_stages_entreprise',{nomEntreprise:stage.entreprise.nom})}}">{{ stage.entreprise.nom }}</a>
      <h2>Contact</h2>
      <p>{{ stage.emailContact }}</p>
  

    
      <h2>Formations requises</h2>
      <ul>
        {% for formation in stage.typeFormation %}
          <li><a href="{{path('pro_stage_voir_stages_formation',{nomFormation:formation.nomCourt})}}">{{ formation.nomCourt }}</a></li>
        {% endfor %}
      </ul>
      <h2>Description des missions</h2>
      <p>{{ stage.descriptionMissions }}</p>
    

{% endblock %}