{% extends 'base.html.twig' %}

{% block nomDeLaPage %}
  <h1> Entreprises </h1>
{% endblock %}

{% block tableauDeLaPage %}
  
    {% for entreprise in listeEntreprises %}
    <div class="card">
        <div class="container">
          {{ entreprise.nom }}
          {{ entreprise.activite }}
          {{ entreprise.adresse }}
          {{ entreprise.URLsite }}
          <a href="{{path('pro_stage_voir_stages_entreprise',{nomEntreprise:entreprise.nom})}}">Voir les stages disponibles<i class="icon-left-hand"></i></a>
          <a href="{{path('pro_stage_modificationEntreprisesEnBd',{id:entreprise.id})}}">Modifier les informations<i class="icon-left-hand"></i></a>
        </div>
      </div>
      
    {% endfor %}
  

{% endblock %}
        

