{% extends 'base.html.twig' %}

{% block nomDeLaPage %}
  <h1> Stages </h1>
{% endblock %}

{% block tableauDeLaPage %}
 
    {% for stage in listeStages %}
      <div class="card">
        <div class="container">
         {{ stage.titre }} 
          <a href="{{path('pro_stage_voir_stages_entreprise',{nomEntreprise:stage.entreprise.nom})}}">{{ stage.entreprise.nom }}</a>
         {{ stage.emailContact }}
          <a href="{{path('pro_stage_stages',{idStage:stage.id })}}"> En savoir plus <i class="icon-left-hand"></i></a>
          </div>
          </div>
      
    {% endfor %}

{% endblock %}

