{% extends 'base.html.twig' %}

 {% block nomDeLaPage %}

 <h1> Stage <u>n°{{ stage.id }}</u> </h1>

  {% endblock %}
 
{% block tableauDeLaPage %}
<thead>
  <tr>
  <th scope="col">Numéro</th>
  <th scope="col">Intitulé</th>
  <th scope="col">Entreprise</th>
  <th scope="col">Contact</th>
  <th scope="col">Description Complète</th>
  </tr>
</thead>

<tbody>
  <tr>
      <th scope="row"> {{ stage.id }} </th>
      <td>{{ stage.titre }}</td>
      <td><a href="{{path('pro_stage_voir_stages_entreprise',{id:stage.entreprise.id})}}">{{ stage.entreprise.nom }}</a></td>
      <td>{{ stage.emailContact }}</td>
      <td>{{ stage.descriptionMissions }}</td>
  </tr>
</tbody>

{% endblock %}